

<div class="" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url(<%= asset_path("background-banner.jpg") %>); background-size: cover;  background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover; padding-bottom: 50px; margin-bottom: -50px;">
  <div class="container">
    <div class="row justify-content-center"></div>
    <div class="mt-5 card p-3" style='width: 500px;'>
      <h2>Sign up</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :first_name, required: true %>
          <%= f.input :last_name, required: true %>
          <%= f.input :dni, required: true %>
          <%= f.input :photo, as: :file %>
          <%= f.label :owner, "Are you a aircraft owner?", class: "fw-bolder",  style: "font-size: 1.2rem;" %>
          <%= f.check_box :owner, as: :boolean %>
          <%= f.label :client, "Do you want to fly with us?", class: "fw-bolder mt-2"  ,  style: "font-size: 1.2rem;" %>
          <%= f.check_box :client, as: :boolean %>
        </div>


        <div class="form-actions">
          <%= f.button :submit, "Sign up" , class: "btn btn-dark my-4", style: "width: 100%" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
   </div>
  </div>
</div>
