
<div class="banner-jb" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url(<%= asset_path("background-banner.jpg") %>); background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;">
  <div class="container-jb" id="container-banner-jb">
    <h1>Travel your way with Flyoner</h1>
    <p>Choose one of our aircraft and experience a unique journey.</p>
  </div>
</div>
<div class="container">

  <div class="card p-3 rounded-4" style="margin-top: -30px; box-shadow: 5px 5px 15px rgba(0,0,0,0.2);">
    <%= form_tag aircrafts_path, class: "d-flex nav-search justify-content-between", method: :get do %>
      <div class="col-5 m-1">
        <label for="start_time">Start time</label>
        <%= date_field_tag :start_time, params[:start_time], class: "form-control", placeholder: "Start Time"%>
      </div>
      <div class="col-5 m-1">
        <label for="finish_time">Finish time</label>
        <%= date_field_tag :finish_time, params[:finish_time], class: "form-control ", placeholder: "finish Time" %>
      </div>
      <div class="col-1 m-1">
        <label for="finish_time">Seats</label>
        <%= number_field_tag :seats, params[:seats], class: "form-control", placeholder: "number" %>
      </div>
      <div class="col-1 m-1 mt-4">
        <%= button_tag "Submit", type: "submit", class: "btn btn-dark"  %>
      </div>
    <% end %>
  </div>
  <div class="intro-products-jb my-5">
    <h3>Aeronaves Disponibles</h3>
    <p>Haz click para obtener mayor información sobre cada uno.</p>
  </div>
  <div class="row justify-content-between mt-5">
    <% @aircrafts.each do |aircraft| %>
      <div class="col-4 my-2">
        <% if aircraft.photos.last %>
          <% aircraft_photo = url_for(aircraft.photos.first) %>
        <% else %>
          <% aircraft_photo = asset_path("background-banner.jpg") %>
        <% end %>

        <%= form_tag aircraft_path(aircraft), method: :get do %>
          <%= hidden_field_tag :start_time, params[:start_time] %>
          <%= hidden_field_tag :finish_time, params[:finish_time] %>
          <%= button_tag class: "btn btn-link w-100 text-decoration-none text-start" do %>

            <div class="card card-intro-mrz card-intro-mrz3 cardshadow" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url(<%= aircraft_photo %>);" >
              <div>
                <h2><strong><%= aircraft.name %></strong></h2>
                <p>has <%= aircraft.seats %> seats</p>
              </div>
              <% if Aircraft.find(aircraft.id).user == current_user %>
                <div class="boton-avion-jb">
                  <p><%= link_to "Edit", edit_aircraft_path(aircraft), class: "btn btn-warning me-2 " %></p>
                </div>
              <% else %>
                <div class="d-flex flex-row-reverse">
                  <p>Day price <strong><%= number_to_currency(aircraft.price, unit: 'USD ', precision: 0, delimiter: ".") %></strong></p>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
