<div class="banner-jb" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path("background-banner.jpg") %>);">
  <div class="container-jb" id="container-banner-jb">
    <h1><%= @aircraft.name.capitalize %></h1>


    <div class="boton-avion-jb">
      <p><%= link_to "Book now", new_aircraft_booking_path(@aircraft), class: "btn btn-light mt-5" %></p>
    </div>
  </div>
</div>

<div class="card-details-jb m-5">
  <div class="card-product-details-jb d-flex py-0">
    <div>
    <% if @aircraft.photos.last != nil %>
      <%= cl_image_tag(@aircraft.photos.last.key) %>
    <% end %>
      
    </div>  
    <div class="row ps-3 pt-2">
      <h4><%= @aircraft.name.capitalize %></h4>
      <p><em><%= @aircraft.description.capitalize %></em></p>
      <p><%= "Available Seats: #{@aircraft.seats}" %></p>
      <p><%= "USD #{@aircraft.price}" %></p>
    </div>
  </div>
</div>

<div class="ms-5">
  <br>
  <br>
  
  <h2>More pictures about this Aircraft</h2>


  <div class="container images-show-jb d-flex justify-content-start my-5">

    <% @aircraft.photos.each do |photo| %>
      <%= cl_image_tag(photo.key) %>
    <% end %>

  </div>
</div>

<%#= cl_image_tag(@aircraft.photos.first.key, height: 300, width: 300) %>