<div class="banner-jb" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path("background-banner.jpg") %>);">
  <div class="container-jb" id="container-banner-jb">
    <h1><%= @aircraft.name %></h1>


    <div class="boton-avion-jb">
      <p><%= link_to "Book now", new_aircraft_booking_path(@aircraft), class: "btn btn-light mt-5" %></p>
    </div>
  </div>
</div>

<div class="card-details-jb m-5">
  <div class="card-product-details-jb p-2">
    <h4><%= @aircraft.name %></h4>
    <p><%= @aircraft.description %></p>
    <p><%= "Seats: #{@aircraft.seats}" %></p>
  </div>
</div>
