<header class="d-flex align-items-center justify-content-between px-4 px-md-5 bg-white overflow-auto" style="height: 109px; border-bottom: 1px solid rgba(229,231,235, 1);">

  <%= link_to 'Fly', root_path, class: "h4 link-dark text-decoration-none py-1 ms-9 my-0 text-center", id:"navbar-brand-mm"%>
  <strong><%= link_to 'Oner', root_path, class: "h4 link-dark text-decoration-none py-1 me-4 my-0 text-center", id:"navbar-brand-mm-dark"%></strong>
  

 
  


  <div class="d-flex ms-auto">
    <%= link_to 'New Aircraft', new_aircraft_path, class: 'h5 link-dark text-decoration-none py-5 ms-5 me-4 my-0 text-center', id:'links-nav-mm' %>
    <%= link_to 'Aircrafts', aircrafts_path, class: 'h5 link-dark text-decoration-none py-5 ms-5 me-4 my-0 text-center', id:'links-nav-mm' %>
    <% if user_signed_in? %>
    <%= link_to 'Bookings', bookings_path, class: 'h5 link-dark text-decoration-none py-5 ms-5 me-4 my-0 text-center', id:'links-nav-mm'  %>
      <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'h5 link-dark text-decoration-none py-5 ms-5 me-4 my-0 text-center', id:'links-nav-mm' %>
      <div class="d-flex align-items-center px-9 px-md-5 bg-white">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier"/>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
        </div>
      </div>
    <% else %>

      <%= link_to 'Log in', new_user_session_path, class: 'h5 link-dark text-decoration-none py-5 ms-5 me-4 my-0 text-center', id:'links-nav-mm'%>
      <%= link_to 'Sign up', new_user_registration_path, class: 'h5 link-dark text-decoration-none py-5 ms-5 me-4 my-0 text-center', id: 'links-nav-mm'%>

    <% end %>
  </div>
</header>