

<div class="banner-jb" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url(<%= asset_path("background-banner.jpg") %>);">
  <div class="container-jb" id="container-banner-jb">
    <h1>Travel your way with Flyoner</h1>
    <p>Choose one of our aircraft and experience a unique journey.</p>
  </div>
</div>



<div class="container">
  <div class="card p-3 rounded-4" style="margin-top: -30px; box-shadow: 5px 5px 15px rgba(0,0,0,0.2);">
    <%= form_tag aircrafts_path, class: "d-flex nav-search justify-content-between", method: :get do %>
      <div class="col-5 m-1">
        <label for="start_time">Start time</label>
        <%= date_field_tag :start_time, params[:start_time], class: "form-control", placeholder: "Start Time", value: Date.today%>
      </div>
      <div class="col-5 m-1">
        <label for="finish_time">Finish time</label>
        <%= date_field_tag :finish_time, params[:finish_time], class: "form-control ", placeholder: "finish Time", value: Date.today %>
      </div>
      <div class="col-1 m-1">
        <label for="finish_time">Seats</label>
        <%= number_field_tag :seats, params[:seats], class: "form-control", placeholder: "number" %>
      </div>
      <div class="col-1 m-1 mt-4">
        <%= button_tag "Submit", type: "submit", class: "btn btn-dark"  %>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-between mt-5">
    <% @aircrafts.each do |aircraft| %>
      <div class="col-4 my-2">
        <% if aircraft.photos.last %>
          <% aircraft_photo = url_for(aircraft.photos.last) %>
        <% else %>
          <% aircraft_photo = asset_path("background-banner.jpg") %>
        <% end %>
        <div class="card card-intro-mrz card-intro-mrz1" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url(<%= aircraft_photo %>);">
          <h2><strong><%= aircraft.name %></strong></h2>
          <p><%= link_to "See Aircraft", aircraft_path(aircraft), class: "btn btn-dark me-5" %></p>
        </div>
      </div>
    <% end %>
  </div>


  <div class="d-flex justify-content-center mt-4" style='margin-bottom: -20px;'>
    <h3><strong>Our team</strong></h3>
  </div>

  <div class="row justify-content-between mt-5">
    <div class="col-3">
      <div class="card card-intro-mrz card-intro-mrz2" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4)), url(<%= asset_path("pg.jpg") %>); background-size: cover;">

        <a href="http://www.github.com/pgallardo2018" class="stretched-link"></a>
        <div></div>
        <div style="margin-bottom: -25px;">
          <p style="margin-bottom: -4px;">co-founder, CTO</p>
          <h2><strong>Patricio Gallardo</strong></h2>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-intro-mrz card-intro-mrz2" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4)), url(<%= asset_path("jbr.jpg") %>);">
        <a href="http://www.github.com/jbrodriguez1" class="stretched-link"></a>
        <div></div>
        <div style="margin-bottom: -25px;">
          <p style="margin-bottom: -4px;">co-founder, CCO</p>
          <h2><strong>Juan Bautista Rodriguez</strong></h2>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-intro-mrz card-intro-mrz2" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4)), url(<%= asset_path("mm.jpg") %>);">
        <a href="http://www.github.com/hellboy222" class="stretched-link"></a>
        <div></div>
        <div style="margin-bottom: -25px;">
          <p style="margin-bottom: -4px;">co-founder, CFO</p>
          <h2><strong>Matias Migueles</strong></h2>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-intro-mrz card-intro-mrz2" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4)), url(<%= asset_path("mrz.jpg") %>);">
        <a href="http://www.github.com/marcoszuber" class="stretched-link"></a>
        <div></div>
        <div style="margin-bottom: -25px;">
          <p style="margin-bottom: -4px;">co-founder, CEO</p>
          <h2><strong>Marcos Zuberbuhler</strong></h2>
        </div>
      </div>
    </div>
  </div>
</div>
